<div class="container">
   <div class="row" *ngIf="!addNewUserFlag">
    <form [formGroup]="userSearchForm" (ngSubmit)="doSearch()">
            <div class="row">
                <div class="col-xs-12">
                </div>
                <div class="col-xs-4">
                        <div class="form-group">
                                <label>Search by Mobile Number : </label>
                                <input type="text" formControlName="mobileNumber" class="form-control" [ngClass]="{ 'is-invalid': userSearchSubmitted && userSearchFormControls.mobileNumber.errors }" maxlength="10" minlength="10" onkeypress="return event.charCode >= 48 && event.charCode <= 57" pattern="[0-9]+"/>
                                <div *ngIf="userSearchSubmitted && userSearchFormControls.mobileNumber.errors" class="invalid-feedback">
                                    <div *ngIf="userSearchFormControls.mobileNumber.errors.required" style="color:red">Mobile Number is required</div>
                                </div>
                        </div>
                        <div class="form-group">
                                <button class="btn btn-primary">Search</button>
                            </div>
                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>User Name</th>
                  <th>Mobile</th>
                  <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor = " let user of filteredItems">
                  <td> {{user.name}} </td>
                  <td> {{user.mobile}} </td>
                  <td> {{user.email}} </td>
                </tr>
            </tbody>
        </table>
        <div>
            <button class="btn btn-primary" (click)="assignCopy()">Reset List</button>
        </div>
    </div>

    
    <div class="row xyz" *ngIf="addNewUserFlag && !alreadyExists">
        <form [formGroup]="userRegisterForm" (ngSubmit)="addUser()">    
        <div class="col-xs-12">
            <h1 align="center">
                Add User
            </h1>
        </div>
        <div class="form-group">
                <label>Username : </label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': userRegisterSubmitted && userRegisterFormControls.username.errors }" />
                <div *ngIf="userRegisterSubmitted && userRegisterFormControls.username.errors" class="invalid-feedback">
                    <div *ngIf="userRegisterFormControls.username.errors.required" style="color:red">Username is required</div>
                </div>
        </div>
        <div class="form-group">
                <label>Mobile Number : </label>
                <input type="text" formControlName="mobileNumber" class="form-control" [ngClass]="{ 'is-invalid': userRegisterSubmitted && userRegisterFormControls.mobileNumber.errors }" maxlength="10" minlength="10" onkeypress="return event.charCode >= 48 && event.charCode <= 57" pattern="[0-9]+"/>
                <div *ngIf="userRegisterSubmitted && userRegisterFormControls.mobileNumber.errors" class="invalid-feedback">
                    <div *ngIf="userRegisterFormControls.mobileNumber.errors.required" style="color:red">Mobile Number is required</div>
                </div>
        </div>
        <div class="form-group">
                <label>Email Address : </label>
                <input type="email" formControlName="emailAddress" class="form-control" [ngClass]="{ 'is-invalid': userRegisterSubmitted && userRegisterFormControls.emailAddress.errors }" />
                <div *ngIf="userRegisterSubmitted && userRegisterFormControls.emailAddress.errors" class="invalid-feedback">
                    <div *ngIf="userRegisterFormControls.emailAddress.errors.required" style="color:red">Email Address is required</div>
                     <div *ngIf="userRegisterFormControls.emailAddress.errors.email" style="color:red">Email must be a valid email address</div>
                </div>
        </div>
        <div class="form-group">
                <button class="btn btn-primary">Add User</button>
            </div>
        </form>
    </div>
    <div *ngIf="alreadyExists">
    <h1>User Already Exists</h1>
    <div class="col-xs-12 button-add"><button class="btn btn-purple" type="submit" (click)="ListOfUsers()">List Of Users</button></div>
    </div>
</div>
  